
<h1>Contact form</h1>
<form (ngSubmit)="onSubmit(contacForm.value)" #contacForm="ngForm">
    <h2>Regrito de personas</h2>
    <app-hijo *ngIf="valores" [values]="valores"></app-hijo>
    <div class="mb-4">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required #name="ngModel">
       
    </div>
    <div class="mb-4">
        <label for="name" class="form-label">DNI</label>
        <input type="number" class="form-control" id="dni" name="DNI" [(ngModel)]="model.name" required #name="ngModel">
        
    </div>
 
    <div class="mb-4">
        <label for="estado" class="form-label">Estado</label>
        <select name="estado" id="estado" class="form-select form-select-sm" [(ngModel)]="model.estado">
        <option selected>Seleccione Estado Civil</option>
        <option value="soltero">Soltero</option>
        <option value="viudo">Viudo</option>
        <option value="divorciado">Divorciado</option>
        <option value="casado">Casado</option>
    </select> 
       
    </div>
 
    <div class="d-grid gap-2 col-4 float-end">
        <button type="submit" class="btn btn-infp btn-lg" [disabled]="contacForm.invalid">Send</button>
    </div>
  
</form>
