<div class="container">
    <div class="row">
        <div class="col-md-6">
        <div>
                <label for="" class="form-label">Numero A:</label>
            </div>
                <div>
                    <input [(ngModel)]="num1" type="number" class="form-control" id="" />
                </div>
                <div>
                <label for="" class="form-label">Numero B:</label>
            </div>
                <div>
                    <input [(ngModel)]="num2" type="number" class="form-control" id="" />
                  </div>
                  <div>
                    <label for="" class="form-label">Operaciones:</label>
                </div>
                <select [(ngModel)]="operacion" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option>Open this select menu</option>
                    <option value="sumar">Suma</option>
                    <option value="restar">Resta</option>
                    <option value="multiplicar">Multiplicar</option>
                    <option value="dividir">Dividir</option>
                  </select>
             
            
        </div>

        <div [ngClass]="{ suma: operacion === 'sumar',  resta: operacion === 'restar', multipli: operacion === 'multiplicar', divide: operacion === 'dividir'}"class="m-5">
            <span>Resultado: </span>
            <span *ngIf="operacion !== 'defecto'">{{ calcular() }}</span>
            <span *ngIf="operacion === 'defecto'" [ngClass]="['no-eligio']">
              (No eligió operación)
            </span>   
        </div>
        
    </div>
    
</div>